@import url('reset.css');

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

#wrap{ width: 100%;}

#header_wrap { width: 1400px; height: 126px; margin: 0 auto;}

#banner { position: relative;  width: 100%; overflow: hidden;}

#contents_wrap_1 { width: 1400px; margin: 0 auto;}
#contents_wrap_2 { width: 100%; margin: 0 auto;}




.contents_1 {width: 100%;  margin: 0 auto;}

.contents_2 { width: 100%; margin: 0 auto; padding-top: 100px;}

.contents_3 { width: 100%; margin: 0 auto; padding-top: 194px;}

.contents_4 { width: 100%; margin: 0 auto; padding-top: 80px;}



/* 로고 */
#header h1{
    float: left;
    width: 25%;
    padding: 42px 0 40px 0;
    box-sizing: border-box;
}

/* 네비 */
nav {float: left; width: 75%;}
nav ul.gnb { float: right; width: 68%; padding-top: 54px;}
nav ul.gnb > li { position: relative; float: left; width: 20%; text-align: center;  padding: 0 0 54px 0;}
nav ul.gnb > li > a{ font-size: 20px; color: #333333; font-family: 'NEXON Lv2 Gothic Bold';}
nav ul.gnb > li:hover > a {color: #083486;}

/* 메인배너 */
#banner img { width: 100%; height: auto;}

/* .renewal {
    position: absolute;
    top: 31%;
    left: 16.5%;
}
.banner_text {
    position: absolute;
    top: 42%;
    left: 16.5%;
    font-size: 68px;
    line-height: 40px;
    color: #083486;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
}
.banner_sub_text{
    position: absolute;
    top: 54%;
    left: 16.8%;
    font-size: 23px;
    line-height: 31px;
    color: #333333;
    font-family: 'NEXON Lv1 Gothic OTF';
} */

/* 미드네비: 주문하기 | 선물하기 | 가맹점찾기 */
.box_1 a {
    float: left;
    width: 33.333%;
    height: 95px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 95px;
    text-align: center;
    overflow: hidden;
    color: #fff;
    background: #083486;
    font-family: 'NEXON Lv2 Gothic Light';
    border-radius: 0 0 0 20px;
    display: block;
}

.box_2 a {
    float: left;
    width: 33.333%;
    height: 95px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 95px;
    text-align: center;
    overflow: hidden;
    color: #fff;
    background: #666666;
    font-family: 'NEXON Lv2 Gothic Light';
    
}

.box_3 a {
    float: left;
    width: 33.333%;
    height: 95px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 95px;
    text-align: center;
    overflow: hidden;
    color: #404040;
    background: #cccccc;
    font-family: 'NEXON Lv2 Gothic';
    border-radius: 0 0 20px 0;
}

.box_1 img {
    margin: 0 12px 4px 0px;
    max-width: 100%; height: auto;}

.box_2 img {
margin: 0 10px 4px 0px;
max-width: 100%; height: auto;}

.box_3 img {
margin: 0 8px 4px 0px;
max-width: 100%; height: auto;}

.box_1 > a:hover { background: #0c2b6b;}
.box_1 * { transition: all 0.5s ease;}

.box_2 > a:hover { background: #575657;}
.box_2 * { transition: all 0.5s ease;}

.box_3 > a:hover { background: #afb0b1;}
.box_3 * { transition: all 0.5s ease;}


/* 유튜브 영상 */
.video-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
}


/* 바텀네비: 페이스북 | 인스타그램 | 블로그 */
.box_4 a {
    float: left;
    width: 33.333%;
    height: 95px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 95px;
    text-align: center;
    color: #fff;
    background: #083486;
    font-family: 'NEXON Lv2 Gothic Light';
}

.box_5 a {
    float: left;
    width: 33.333%;
    height: 95px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 95px;
    text-align: center;
    color: #fff;
    background: #083486;
    font-family: 'NEXON Lv2 Gothic Light';
    
}

.box_6 a {
    float: left;
    width: 33.333%;
    height: 95px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 95px;
    text-align: center;
    color: #fff;
    background: #083486;
    font-family: 'NEXON Lv2 Gothic Light';
    
}

.box_4 img {
    margin: 0 12px 4px 0px;
    max-width: 100%; height: auto;}

.box_5 img {
margin: 0 10px 4px 0px;
max-width: 100%; height: auto;}

.box_6 img {
margin: 0 8px 4px 0px;
max-width: 100%; height: auto;}

.box_4 > a:hover { background: #0c2b6b;}
.box_4 * { transition: all 0.5s ease;}

.box_5 > a:hover { background: #0c2b6b;}
.box_5 * { transition: all 0.5s ease;}

.box_6 > a:hover { background: #0c2b6b;}
.box_6 * { transition: all 0.5s ease;}

.wide_line{
    border-bottom: 1px solid #d9d9d9;
}


/* DT Menu 버거 | 프라이즈 | 치킨 */
.dt_menu { width: 100%; text-align: center; padding-top: 100px;}

.main_text{
    font-size: 45px;
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    color: #083486;
}

.main_text span{ color: #333333;}

.menu_text { text-align: center;}

.sub_text{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.sub_text li { margin: 40px 0px; display: inline;}

.sub_text li a{
    margin: 0 50px;
    color: #666666;
    font-size: 25px;
    font-family: 'NEXON Lv2 Gothic';
}
.sub_text li a:hover { color: #083486;}
.sub_text .line { font-size: 25px; color: #d9d9d9;}


/* DT Menu 버거 이미지 */
.dt_menu_burger_01{
    float: left;
    margin: 115px 30px 0 54.6px;
}
.dt_menu_burger_02{
    float: left;
    margin: 115px 0 30px 0;
}
.dt_menu_burger_03{
    float: left;
    margin: 115px 54.6px 0 0;
}


/* DT Menu 버거 이미지 하단 텍스트 */
.dt_menu_burger_01 p{
    text-align: center;
    font-family: 'NEXON Lv2 Gothic Bold';
    color: #333333;
    font-size: 25px;
}

.dt_menu_burger_01 span{
    text-align: center;
    font-family: 'NEXON Lv2 Gothic Light';
    color: #595959;
    font-size: 18px;
}

.dt_menu_burger_02 p{
    text-align: center;
    font-family: 'NEXON Lv2 Gothic Bold';
    color: #333333;
    font-size: 25px;
}

.dt_menu_burger_02 span{
    text-align: center;
    font-family: 'NEXON Lv2 Gothic Light';
    color: #595959;
    font-size: 18px;
}

.dt_menu_burger_03 p{
    text-align: center;
    font-family: 'NEXON Lv2 Gothic Bold';
    color: #333333;
    font-size: 25px;
}

.dt_menu_burger_03 span{
    text-align: center;
    font-family: 'NEXON Lv2 Gothic Light';
    color: #595959;
    font-size: 18px;
}

/* DT 커뮤니티 */
.comm_box_1{
    position: relative;
    float: left;
    width: 338px;
    height: 206px;
    background: #fff;
    margin-right: 16px;
    border: ;
}












.notice_box {
    position: relative;
    float: left;
    width: 360px;
    height: 248px;
    background: #fff;
    margin-right: 60px;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 30px;
}

.notice_box-1 {
    position: relative;
    float: left;
    width: 360px;
    height: 248px;
    background: #fff;
    
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 30px;
}


.n_subject { padding: 20px 0 10px 0;}
.n_subject a { color: #000; font-size: 18px; font-weight: 500;}
.n_subject a:hover { color: #ff0033;}
.n_text { color: #999;}
.n_date {position: absolute; bottom: 20px; left: 30px; font-size: 14px; color: #999;}
.more { position: absolute; top: 10px; right: 10px;}
